/* uikit ovverride */

.uk-modal-dialog {
    color: black;
}

/* end uikit override */

html {
    color: white;    
}

.body{
	background-image: url('../images/constellation.jpg');
}

.message{
	font-size: 30px;
	background-color: transparent;

}

.send_message{
	width: 400px;
	height: 100px;
	background-color: rgba(0,0,0,0.5);
	color: silver;
	border: none;
	/*text-align: center;*/
}

.footer{
	height: 50px;
	vertical-align: center;
	padding: auto;
}

#mask {
    background: rgba(0,0,0,0.7);

}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

.uk-button {
    padding-top: 6px;
    padding-bottom: 10px;
}

.testimonials .uk-border-circle {    
    box-shadow: 1px 1px 5px 1px #464545;
    width: 180px;
    height: 180px;
}

.testimonials .uk-border-circle p {
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
}
