{% extends "base.html"%}
{% from "_form_validate.html" import moderate_hlp as hlp %}

{% block content %}



<form action="/moderate" method="POST" accept-charset="utf-8">
{{actions.csrf_token}}
{{hlp(actions)}}
	<div class="uk-panel-box uk-scrollable-text uk-margin">
		{{actions.texts}}
			<!-- {% for t in actions.texts %}
			{{t}}
			{% endfor %} -->
		
	</div>
</form>

{% block footer %}
<div class="uk-grid  uk-position-bottom" data-uk-grid-margin>
        <div class="uk-width-1-1 uk-text-center">
            <a href="/contrib">
                <div class=" uk-block footer uk-block-secondary ">
                    <h3 class="uk-text-contrast">Contribua com uma frase genérica agora mesmo</h3>
                </div>
            </a>
        </div>
    </div>
{% endblock %}



{% endblock %}